//Colors
$primary-color: #55c57a;
$light-color: #7ed56f;
$dark-color: #28b485;
$grey-color: #777;
$light-grey: #eee;
$secondary-light: #ffb900;
$secondary-dark: #ff7730;
$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;
$white-color: #fff;
$black-color: #000;
$bg-light-gray-1: #f7f7f7;

//Grid vars
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;

//Font vars;
$default-fs: 1.6rem;

//border
$border: .3rem;