.footer{
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        border-top: 1px solid $grey-color;
        padding-top: 2rem;
        display: inline-block;
    }
    &__copyright{
        color: $bg-light-gray-1;
        border-top: 1px solid $grey-color;
        padding-top: 2rem;
        display: inline-block;
        width: 70%;
        float: right;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
    &__link{
        transition: all .2s;
        &:link,
        &:visited{
            background-color: #333;
            color: $bg-light-gray-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }
        &:hover,
        &:active{
            color: $primary-color;
            box-shadow: 0 1rem 2rem rgba($black-color, .4);
            transform: rotate(5deg) scale(1.2);
        }
    }
}