.row{
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-v;
    }
    @include clearfix;

    [class^=col] {
        float: left;
        &:not(:last-child){
            margin-right: $gutter-h;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-h})/2);
    }
    .col-1-of-3 {
        width: calc((100% - 2*#{$gutter-h})/3);
    }
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-h}) / 3) + #{$gutter-h});
    }
    .col-1-of-4 {
        width: calc((100% - 3*#{$gutter-h})/4);
    }
    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-h}) / 4) + #{$gutter-h});
    }
    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-h}) / 4) + 2 * #{$gutter-h});
    }
}