.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        text-align: center;
        cursor: pointer;
        top: 6rem;
        right: 6rem;
        background-color: $white-color;
        z-index: 101;
        box-shadow: 0 1rem 3rem rgba($black-color, .1);
    }
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($light-color, $dark-color);
        z-index: 50;
        transition: transform .8s ease-in;
    }
    &__list{
        width: 100%;
        @include absoluteCenter;
        list-style: none;
        text-align: center;
    }
    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        opacity: 0;
        width: 0;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,
        &:visited,{
            display: inline-block;
            font-size: 3.5rem;
            font-weight: 400;
            color: $white-color;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-size: 225%;
            background-image: linear-gradient(
                120deg,
                transparent 50%,
                $white-color 50%);
            transition: all .4s;
            span{
                margin-right: 2rem;
                display: inline-block;
            }
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $primary-color;
            transform: translateX(1rem);
        }
    }
    //FUNCIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
    //ICON
    &__icon{
        margin-top: 3.4rem;
        position: relative;
        &,
        &::before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: 2px;
            background: #333;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }
    &__button:hover &__icon::before{
        top: -1.1rem;
    }
    &__button:hover &__icon::after{
        top: 1.1rem;
    }
    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}