.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    &__side{
        height: 52rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: all .8s ease-out;
        border-radius: $border;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .2);
        &--front{
            background-color: #fff;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $light-color, $dark-color);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark);
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }
    //FRONT SIDE STYLE
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        &--1{
            background-image: linear-gradient(to right bottom, $secondary-light, $secondary-dark), url(../img/nat-5.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, $light-color, $dark-color), url(../img/nat-6.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $tertiary-light, $tertiary-dark), url(../img/nat-7.jpg);
        }
    }
    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $white-color;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 60%;
    }
    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($secondary-light, 0.85), rgba($secondary-dark,0.85));
        }
        &--2{
            background-image: linear-gradient(to right bottom, rgba($light-color, 0.85), rgba($dark-color,0.85));
        }
        &--3{
            background-image: linear-gradient(to right bottom, rgba($tertiary-light, 0.85), rgba($tertiary-dark,0.85));
        }
    }
    &__details{
        ul{
            list-style: none;
            width: 80%;
            padding: 3rem;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                &:not(:last-child){
                    border-bottom: .1rem solid $light-grey;
                }
            }
        }
    }
    //Back side styling
    &__cta{
        @include absoluteCenter;
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        color: $white-color;
        margin-bottom: 8rem;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 300;
    }
}