.composition {
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .2);
        border-radius: $border;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }
        &:hover{
            transform: scale(1.05) translateY(.5rem);
            box-shadow: 0 2.5rem 4rem rgba($black-color, .4);
            z-index: 20;
            outline: 1.5rem solid $primary-color;
            outline-offset: 2rem;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}