.feature-box{
    background-color: rgba($white-color, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: $border;
    box-shadow: 0 1.5rem 3rem rgba($black-color, .4);
    transition: transform .3s;
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $light-color, $dark-color);
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover{
        transform: translateY(-2rem) scale(1.1);
    }
}