.form{
    &__group{
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &__input{
        border:none;
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: .3rem;
        background-color: rgba($white-color, .8);
        border-bottom: .4rem solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($black-color, .2);
            border-bottom: .4rem solid $primary-color;
            &:invalid{
                border-bottom: .4rem solid $secondary-dark;
            }
        }
        &::-webkit-input-placeholder{
            color: #999;
        }
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
    }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .4s;
    }
    &__radio-group{
        width: 45%;
        display: inline-block;
    }
    &__radio-label{
        font-size: $default-fs;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $primary-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;
        &::after{
            @include absoluteCenter;
            height: 1.3rem;
            width: 1.3rem;
            content: "";
            display: block;
            border-radius: 50%;
            background-color: $primary-color;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__radio-input{
        display: none;
    }
    &__radio-input:checked + &__radio-label &__radio-button::after{
        opacity: 1;
    }
}