.popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black-color, .85);
    height: 100vh;
    width: 100%;
    z-index: 250;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    &__content{
        @include absoluteCenter;
        
        width: 75%;
        border-radius: $border;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba($black-color, .2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
    }
    &__left{
        width: 33.33333%;
        display: table-cell;
    }
    &__right{
        width: 66.66667%;
        vertical-align: middle;
        display: table-cell;
        padding: 3rem 5rem;
    }
    &__img{
        display: block;
        width: 99%;
    }
    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid #eee;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &__close{
        &:link,
        &:visited{
            text-decoration: none;
            color: $grey-color;
            position: absolute;
            font-size: 3rem;
            top: 2.5rem;
            right: 2.5rem;
            transition: all .2s;
            display: inline-block;
            line-height: 1;
        }
        &:hover{
            color: $primary-color;
        }
    }
}