.section-about{
    background-color: $bg-light-gray-1;
    padding: 25rem 0;
    margin-top: -20vh;
}
.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($light-color, 0.8),
        rgba($dark-color, 0.8)),
        url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11.5rem;
    & > *{
        transform: skewY(7deg);
    }
}
.section-tours{
    background-color: $bg-light-gray-1;
    padding: 25rem 0 15rem 0;
    margin-top: -11.5rem;
}
.section-stories{
    padding: 15rem 0;
    position: relative;
}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $light-color, $dark-color);
}

.book{
    background-image: linear-gradient(
        105deg,
        rgba($white-color, .85) 50%,
        transparent 50%),
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: $border;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.5);

    height: 50rem;
    &__form{
        width: 50%;
        padding: 6rem;
    }
}